$font-size24:1.5rem;
$font-size14:0.875rem;
$font-size26:1.625rem;
$font-size12:0.75rem;
$font-size10:0.625rem;
$font-size20:1.25rem;
$font-size13:0.813rem;
$font-size30:1.875rem;
$font-width-regular:400;
$font-width-mediun:500;
$font-width-semibold:600;
$font-width-bold:700;
$letter-spacing-2: -2px;
$color-point:#1a2867;
$color-red : #ae1522;
$color-yellow : #ffce09;
$color-green : #03c75a;
$color-black :#121212;
$color-white :#fff;
$color-gray-87 :#878787;
$color-gray-62:#626262;
$color-darkgray:#313131;


@mixin flex-row{
    display: flex; flex-flow: row nowrap; align-items: center; 
}
@mixin flex-col{
    display: flex; flex-flow: column nowrap; align-items: center;
}
@mixin width100 {width: 100%; overflow: hidden;}

@mixin background {background-repeat: no-repeat; background-size: cover; background-position: center;}


header{position: fixed; width: 100%;
    .h_top {
        @include flex-row; justify-content: space-between; height: 49px;
        background-color: $color-point; padding: 0 96px;
        h1 {}
        .h_right {
            .angel {width: 129px;}
            a {display: inline-block; width: 20px;}
            img {width: 100%;}
            a:not(.cart) {margin-right: 25px;}
        }
    }
    nav {  padding: 0 96px; background-color: $color-white;
        .gnb {position: relative;
            @include flex-row; align-items: start; gap: 80px;
            .gnb_a {font-weight: $font-width-semibold; line-height: 50px; display:inline-block;}
            .lnb {@include flex-col; gap: 25px; align-items: start; padding: 20px;
                background-color: none;
                position: absolute;
                &::before {content: ''; inset: 0; width: 100%; background-color: $color-white;}
                li {
                    a {font-size: $font-size14; white-space: nowrap;}
                }
            }
        }
    }
}


