$font-size24:1.5rem;
$font-size14:0.875rem;
$font-size26:1.625rem;
$font-size12:0.75rem;
$font-size10:0.625rem;
$font-size20:1.25rem;
$font-size13:0.813rem;
$font-size30:1.875rem;
$font-width-regular:400;
$font-width-mediun:500;
$font-width-semibold:600;
$font-width-bold:700;
$letter-spacing-2: -2px;
$color-point:#1a2867;
$color-red : #ae1522;
$color-yellow : #ffce09;
$color-green : #03c75a;
$color-black :#121212;
$color-white :#fff;
$color-gray-87 :#878787;
$color-gray-62:#626262;
$color-gray-da:#dadada;
$color-darkgray:#313131;


@mixin flex-row{
    display: flex; flex-flow: row nowrap; align-items: center; 
}
@mixin flex-col{
    display: flex; flex-flow: column nowrap; align-items: center;
}
@mixin width100 {width: 100%; overflow: hidden;}

@mixin background {background-repeat: no-repeat; background-size: cover; background-position: center;}


#wrap {
    header{position: fixed; width: 100%; z-index: 999;
    .h_top {
        @include flex-row; justify-content: space-between; height: 49px;
        background-color: $color-point; padding: 0 96px;
        h1 {}
        .h_right {
            .angel {width: 129px;}
            a {display: inline-block; width: 20px;}
            img {width: 100%;}
            a:not(.cart) {margin-right: 25px;}
        }
    }
    nav {  padding: 0 96px; background-color: $color-white;
        .gnb {position: relative;
            @include flex-row; align-items: start; gap: 80px;
            .gnb_a {
                &:hover {text-decoration: underline; text-underline-offset: 7px;/* 텍스트와 밑줄 공간 */}
                font-weight: $font-width-semibold; display:inline-block; line-height: 50px;
            }
            .lnb {@include flex-col; gap: 25px; align-items: start; padding: 30px;
                background-color: none; background-color: $color-white; display: none;
                position: absolute;
                li {
                    a {font-size: $font-size14; white-space: nowrap;}
                }
            }
        }
        .product_gnb:hover {>.lnb {display: flex; left: -43px;}}
        .membership_gnb:hover {>.lnb {display: flex; left: 143.5px;}}
        /* .about_gnb:hover {>.lnb {display: flex; left: 293px;}} */
    }
}
footer { border-top: 1px solid $color-gray-da;
    @include flex-row; justify-content: space-between; padding: 80px 96px 100px;
    ul {
        @include flex-col; align-items: start; gap: 10px; height: 230px; width: 200px;
        li {font-size: $font-size14; text-align: start;
            em {width: 200px; border-bottom: 1px solid $color-gray-87;
                font-weight: $font-width-semibold; font-size: $font-size20;
                padding: 10px 0; display: inline-block; }
        }
    }
    .commpany_info{
        width: 510px;
        li {
            em {width: 510px;}
        }
        }
    .sns {
        .icon {
            .icon_container {@include flex-row; gap: 20px; align-items: start;
                li {
                    a {display: inline-block; width: 30px;
                        img {width: 100%;}
                    }
                }
            }
        }
    }
}

}

