@use './common.scss' as*;


main {padding-top: 99px;
    section {margin-bottom: 150px;}
    h2 {/* 섹션 타이틀  */
        font-weight: $font-width-semibold; font-size: $font-size26; text-align: center; margin-bottom: 50px;
    }
    .more {/* 전체보기 */
        font-size: $font-size14; color: $color-gray-62; display: inline-block;padding: 10px 0;
    }
    .product_g {/* 제품 공통 */ text-align: start; width: 300px;
    a {
        display: inline-block;
        img {width: 100%;}
        }
        .product_title {margin: 18px 0 15px;
            @include flex-row; justify-content: space-between; align-items: center;
            h3>a {font-weight: $font-width-mediun; }
            span {width: 24px; height: 24px; img {width: 100%;} }
        }
        .product_info {line-height: 1.5; font-size: $font-size14; margin-bottom: 12px; color: $color-gray-62;}
        del {color: $color-gray-62; font-size: $font-size12; margin-bottom: 5px; display: inline-block;} 
        .product_price {
            @include flex-row; justify-content: space-between; margin-bottom: 5px;
            p {font-size: $font-size10;}
            .price {
                @include flex-row; gap:5px;
                em {font-weight: $font-width-mediun; font-size: 1rem;}
            }
        }
        .review {
            margin: 12px 0 18px;
            span {width: 13px; display: inline-block; img {width: 100%;}}
            a {font-size: $font-size12;}
        }
    }

    #bnr {
        .bnr_g {
            .bnr_container {
                .bnr1, .bnr3 {
                    a { @include background;
                        background-image: url(../images/bnr1.jpg);
                        width: 100%; height: 700px; display: inline-block;
                    }
                }
                .bnr2, .bnr4 {
                    a {
                        background-image: url(../images/bnr2.jpg);
                        width: 100%; height: 700px; display: inline-block;
                    }
                }
            }
        }
    }
    #best_seller { position: relative; width: 1650px; margin: 150px auto; padding-bottom: 30px;
        .best_g { width: 1620px; text-align: end;
            .best_container {
                .swiper-slide {
                }
            }
        }
        .best_control {
            .swiper-button-prev, .swiper-button-next{ width: 30px; height: 30px; color: $color-black;}
            .swiper-button-prev {left: -45px; top: 50%;}
            .swiper-button-next {right: -45px; top: 50%;}
            .swiper-scrollbar {
                bottom: 0; width: 100%; left: 0; height: 3px;}
                .swiper-scrollbar-horizontal {border-radius: 3px;}
                .swiper-scrollbar-drag {background-color: $color-point;  border-radius: 3px;}
            }   
    }
    #with_pethroom {
        .with_container {margin: 0 auto; width: 1502px;
            @include flex-row; gap: 1px; align-items: start;
            .delivery,.vip_membership,.smart_care{
                text-align: center;
                a { width: 500px; display: inline-block; margin-bottom: 30px;
                    img {width: 100%;}
                }
                h5 {font-weight: $font-width-mediun; font-size: $font-size14; margin-bottom: 18px;}
                p {font-size: $font-size14; line-height: 1.5;}
            }

        }
    }
    #vip_bnr {
        a {display: inline-block; width: 100%;
            img {width: 100%;}
        }
    }
    #for_dog,#for_cat {
        @include flex-row; align-items: start; gap: 50px; justify-content: center;
        .for_g {position: relative; margin: 0 60px; height: 854px;}
        .for_title {@include flex-row; justify-content: space-between; width: 810px;
            h2 { white-space: nowrap; margin-bottom: 10px;}
            .more {width: 49px; padding: 0;}
        }
        .for_container { width: 810px; 
            .swiper-slide { @include flex-col; gap:15px ;
            }
            .for_inner { 
                @include flex-row; gap: 30px;
                >.product_g {width: 250px;
                }
            }   
        }
        .for_control {
            .swiper-button-prev, .swiper-button-next{ width: 30px; height: 30px; color: $color-black;}
            .swiper-button-prev {left: -60px; top: 50%;}
            .swiper-button-next {right: -60px; top: 50%;}
            .swiper-scrollbar {
                bottom: 0; width: 100%; left: 0; height: 3px;}
                .swiper-scrollbar-horizontal {border-radius: 3px;}
                .swiper-scrollbar-drag {background-color: $color-point;  border-radius: 3px;}
            } 
    }
    #smart_care_pethroom {
        background-image: url(../images/6bg.jpg); width: 100%; height: 530px;
        @include flex-row;justify-content: center; gap: 40px;
        .smart_care_info { white-space: nowrap; text-align: center;
            dt {font-size: $font-size20; font-weight: $font-width-mediun;}
            dd {font-weight : $font-width-mediun; line-height: 1.5;}
        }
        .smart_care_container {
            @include flex-row; gap: 10px;
            .smart_product {text-align: start;
                width: 315px; height: 430px; @include background;
                dl { color: $color-white; padding: 40px;
                    >dt {font-weight: $font-width-bold; margin-bottom: 20px;}
                    >dd {line-height: 1.5;font-size: $font-size14;}    
                }
            }
            .loopoo_box {background-image: url(../images/smartcare1.png);}
            .water_dispenser {background-image: url(../images/smartcare2.png);}
            .loopoo_box {background-image: url(../images/smartcare3.png);}    
        }
    }
    #about {position: relative;
        background-image: url(../images/about_bg.jpg); @include background; width: 100%; height: 751px;
        &::after {content: ''; height: 50px; background-color: $color-white;width: 100%; position: absolute; top: 0; left: 0;}
        h2 {padding: 220px 0 91px; color: $color-white; margin: 0;}
        &::before {
            content: ''; width: 100%; height: 214px; background-color: $color-white; position: absolute; bottom: 0; left: 0;
        }
        .about_container { margin: 0 auto;  position: relative;
            @include flex-row; justify-content: center; width: 1202px;
            .about_img {
                img {width: 100%;}
            }
            }
            .about_inner { 
                padding: 66px 20px 0 20px;
                margin: 0 auto; width: 601px; background-color: $color-white; height: 400px;
                p {margin-bottom: 30px;
                    em {font-weight: $font-width-mediun; font-size: $font-size20; line-height: 1.3;}
                }
                .about_info {line-height: 1.5; margin-bottom: 30px;}
                .the_more{
                    border: 1px solid $color-gray-da; width: 89px; height: 34px;
                    @include flex-row; justify-content: center; gap: 5px;
                    a {
                        font-size: $font-size12;
                    }
                    span {width: 10px; display: inline-block;
                        img {width: 100%;}
                    }
                }
            }
    }
}
